#main-container{
    display: grid;
    widows: 100vw;
    height: 80vh;
    padding-top: 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vh, 1vw;
    border: 1px black solid;    
}

.dias{
    border: black 1px solid;
}

#segunda{
    display: grid;
    border: solid 1px black;    
}